body{
	background-image: url("earth back.jpg");
	background-position: center;
	background-size: cover;
}

#login_div{
	margin-top: 330px;
	margin-right: 20px;
	background-color: rgb(224, 224, 230);
	border-radius: 30px;
	text-align: center;
	float: none;
}




html, body
{
  height: 100%;
  margin: 0;
}






.header
{
	color: rgb(252, 236, 236);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(233, 233, 240, 0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 150px;margin-top: 50px;border-radius: 100px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(229, 228, 236, 0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(238, 227, 227);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(44, 13, 218, 0.8);
}
.input_div_message_page label
{
	color: rgb(232, 224, 224);
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: rgb(222, 227, 235)
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:rgb(240, 237, 237);
}